<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Glimmershot">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ base_url() }}">
    <meta property="og:description" content="Glimmershot is a minimalistic Vainglory API site that focuses on fast up-to-date player lookup.">
    <meta property="og:image" content="{{ base_url() }}/images/glimmershot/128x128.png">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@glimmershots" />
    <meta name="twitter:title" content="glimmershot.tk">
    <meta name="twitter:description" content="Glimmershot is a minimalistic Vainglory API site that focuses on fast up-to-date player lookup.">
    <meta name="twitter:image" content="{{ base_url() }}/images/glimmershot/128x128.png">

    <title>Glimmershot | {{player['name']}}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://use.fontawesome.com/8b18c79530.js"></script>

    <style>
        .header-image {
            background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)), url("{{base_url()}}/images/backgrounds/Kestrel_Winter_War_R.jpg");
            background-position: top center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
</head>
<body>

<section class="hero is-primary header-image">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered is-mobile">
                    <div class="column is-half is-offset-one-quarter">
        <div class="summoner-profile-picture">
            <img src="{{base_url()}}/images/portraits/{{player['picks'][0]['actor']}}_Portrait.png"
                 alt="{{player['picks'][0]['actor']}}">
            <div class="region has-text-centered">
                {{player['shard_id']}}
            </div>
        </div>
        <p class="title has-text-centered">
            {{player['name']}}
        </p>
    </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item is-active">
                        Overview
                    </a>
                    <a href="https://vainsocial.com/player/{{player['name']}}" target="_blank" class="nav-item">
                        Matches
                    </a>
                </div>
            </div>
        </header>

    </div>
</section>

<section class="section">
    <div class="container">

        <div class="columns">
            <div class="column is-2">
                <figure class="image is-128x128">
                    <img src="{{base_url()}}/images/skill_tiers/{{player['skill_tier']}}.png">
                </figure>
            </div>

            <div class="column">
                <p>Rank</p>
                <p>
                    <span class="has-text-success">{{player['currentSeries'][1]['wins']}}</span> Wins / 
                    <span class="has-text-danger">{{player['currentSeries'][1]['played'] - player['currentSeries'][1]['wins']}}</span> Losses</p>
            </div>

                <div class="column">

                <div class="box">
                    Box
                </div>

            </div>

            {# <div class="column">
                <div class="box">
                    <h3 class="subtitle is-3 has-text-centered">Casual</h3>
                    <!-- Chart.js Canvas here -->
                </div>
            </div> #}
        </div>

        <div class="columns">
            <div class="column is-4">
                <canvas id="Ranked" width="350" height="200">
                    <script>
                        document.addEventListener("DOMContentLoaded", function(event) {
                            (function() {
                                "use strict";
                                let ctx = document.getElementById("Ranked");
                                window.Ranked = new Chart(ctx, {
                                    type: 'doughnut',
                                    data: {
                                        labels: ["Wins","Losses"],
                                        datasets: [
                                            {
                                                "backgroundColor":[
                                                    "#23d160",
                                                    "#ff3860"
                                                ],
                                                "hoverBackgroundColor":[
                                                    "#23d160",
                                                    "#ff3860"
                                                ],"data":[
                                                    {{ player['currentSeries'][1]['wins'] }},
                                                    {{ player['currentSeries'][1]['played'] - player['currentSeries'][1]['wins'] }}
                                                ]
                                            }
                                        ]
                                    },
                                });
                            })();
                        });
                    </script>
                </canvas>
            </div>
        </div>

    </div>
</section>

<section class="section">
    <div class="container">

        <div class="columns">
            <div class="column">

                <div class="box">
                    <h3 class="subtitle is-3 has-text-centered">Ranked</h3>
                    <!-- Chart.js Canvas here -->
                </div>

            </div>

            <div class="column">
                <div class="box">
                    <h3 class="subtitle is-3 has-text-centered">Casual</h3>
                    <!-- Chart.js Canvas here -->
                </div>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="container">

        {# <pre>{{ dump(player) }}</pre> #}
        {{player['picks'][0]['actor']}}

    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Glimmershot
                </strong> by
                <a href="http://github.com/miraris">Miraris</a>. The source code is licensed under
                <a href="https://www.gnu.org/licenses/gpl.html">GPLv3</a>.
            </p>
            <p>
                <i>Glimmershot is not affiliated, endorsed, sponsored or approved by Super Evil Megacorp and its affiliates.</i>
            </p>
            <p>
                <a class="icon" href="https://github.com/miraris/glimmershot">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="/js/dist/Chart.min.js"></script>

</body>
</html>
